.selectContainer {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.label {
  width: 150px !important;
  font-size: 18px !important;
  font-size: 18px !important;
  color: #0c0d11 !important;
  font-weight: 500 !important;
}
