.title {
  margin-bottom: 100px;
  color: var(--color-neutral-softer);
  font-size: 48px;
}

.button {
  background-color: var(--primary-base) !important;
  margin-top: 32px !important;
  color: var(--color-neutral-softest) !important;
  width: 40% !important;

  &:hover {
    background-color: var(--primary-strong) !important;
  }
}
