:root {
  --primary-strong: #3f23cc;
  --primary-base: #6348e3;
  --color-neutral-softer: #fafafe;
  --color-neutral-softest: #ffffff;
  --color-neutral-soft: #e0e2e4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto';
  background: var(--primary-base);
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.MuiSelect-outlined {
  border: 1px solid var(--color-neutral-soft) !important;
}

.MuiSelect-select {
  background: var(--color-neutral-softest);
}

.MuiOutlinedInput-input {
  border: 1px solid var(--color-neutral-soft) !important;
  background: var(--color-neutral-softest);
  border-radius: 4px;

  &::placeholder {
    color: #999 !important;
  }
}

.MuiOutlinedInput-input {
  display: flex;
  justify-content: space-between;
}
