*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto';
  background: rgb(153, 0, 153);
  background: linear-gradient(
    90deg,
    rgba(153, 0, 153, 1) 31%,
    rgba(201, 72, 201, 1) 100%
  );
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.MuiSelect-outlined {
  border: 1px solid gray !important;
}

.MuiFilledInput-input {
  border: 1px solid gray !important;
  background: #fff;
  border-radius: 4px;
}

.MuiOutlinedInput-input {
  display: flex;
  justify-content: space-between;
}
